.spacer {
  border-color: white;
  color: white;
  height: 50px;
}
#sidebar {
  color:  blue;
  float: left;
  font-family: sans-serif;
  position: center;
}

.side-title{
  float: left;
  color: grey;
}

.title {
  background-color: hotpink;
}

.subject-list {
    font-family: sans-serif;
}

img {
  width: 50%;
  height: auto;
}

#pirate, #hipster {
  float: right;
}

#dog, #dino {
  width: auto;
  height: auto;
}

#dog {
  float: right;
}

#dino {
  float: left;
}

#zombie {
  width: 10%;
  height: auto;
  float: right;
}